$color-primary-light: #0be881;
$color-primary-dark: #05c46b;

$color-blue-light: #22b8cf;
$color-blue-dark: #0b7285;

$color-bg-grey: #121212;
$color-grey-1: #1d1d1d;

$color-dark-grey: #212529;

$color-light-grey: #adb5bd;
$color-grey: #87939f;
$color-meduim-grey: #495057;
$color-opaque-grey: #adb5bd33;

$color-black: #000;
$color-white: #fff;

// FONT SIZES:
$def-font-size: 1.6rem;

// GRID ITEM (FLOAT):
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 2rem;
